// settings / typography
$_body_font_family: Quicksand, sans-serif !default;
$_header_font_family: Anton, serif !default;

$_base_font_size: 1.125rem !default; // 18px/16px

// settings / layout
$_base_unit_of_measurement: $_base_font_size / 2 !default;

$_max_content_width: 130 * $_base_unit_of_measurement !default;

// helpers
@import 'helpers/m';

// core
@import 'reset';
@import 'typography';
@import 'content';

// components
@import 'hero-banner';
